<!DOCTYPE html>
<html lang="en">
<head>
    <title>Emporio Modelo</title>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <link rel="icon" href="~/images/queijo.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/template/minics_template/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet"> <!-- range slider -->
    <!-- font awesome style -->
    <link href="~/template/minics_template/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/template/minics_template/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/template/minics_template/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <!-- Cabeçalho -->
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid">
                    <div class="top_nav_container">
                        <div class="contact_nav">
                            <a class="navbar-brand" href="Home">
                                <span>
                                    Empório Modelo
                                </span>
                            </a>
                        </div>

                        <div class="user_option_box">
                            <a href="carrinho" class="cart-link">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <span>
                                    Carrinho
                                </span>
                            </a>
                            <a href="Login" class="account-link">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>
                                    Login
                                </span>
                            </a>

                        </div>
                    </div>

                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">


                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html"> Produtos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="product.html">Novidades</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="why.html">Contato</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="testimonial.html">Ajuda</a>
                                </li>
                                <li>
                                    <from class="search_form">
                                        <input type="text" class="form-control" placeholder="O que você procura?">
                                        <button class="" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </from>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->
        @RenderBody()
    </div>

    <!-- footer section -->
    <footer class="footer_section">
        <section class="info_section ">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <div class="info_contact">
                            <h5>
                                <a href="" class="navbar-brand">
                                    <span>
                                        Empório Modelo
                                    </span>
                                </a>


                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Presidente Prudente-SP <br />
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        +55 (18) 3223-3916 <br />
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        sonyrvb@hotmail.com
                    </div>
                    <div class="navbar-brand">
                        <div class="col-md-3">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script src="~/lib/HTTPClient.js"></script>
    <script src="~/template/minics_template/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/template/minics_template/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="~/template/minics_template/js/custom.js"></script>
</body>
</html>

<!--
     {} - Objeto Json
     [0,0,0,\"paulo\,{\"nome\": 12}"] - Array Json
     \"nome\": \"paulo\" - propriedades/valor
    
    Serealizar: Pegar o objeto e transformar em outro formato, persistir ou transmitir. var json = json.stringify(obj);
    var obj2 = json.parse(json); -> Descerealiza, voltando para objeto literal

    var vetor = [1000, 2000, {nome:"Paulo"}];
    vetor[3].nome;

    Json: Levar dados do cliente para o servidor <->
    
    -->